
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Shrek</td>
            </tr>
            <tr>
                <td>Wall-e</td>
            </tr>
        </tbody>
    </table>

